<%- include("./partials/header.ejs") %>

<div class="edit-blog">
  <form class="entry" action="/edit" method="POST" class="entry blog-form">
    <label for="EditedBlogTitle">Title of Blog to Edit:</label><br>
    <input type="text" id="EditedBlogTitle" name="EditedBlogTitle" required><br>
    <label for="EditedBlogDesc">New Description:</label><br>
    <textarea id="EditedBlogDesc" name="EditedBlogDesc" rows="4" required></textarea><br>
    <button type="submit">Update Blog</button>
  </form>
</div>
<%- include("./partials/footer.ejs")%>
