<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="home">
    <div class="text">
    <h2><img src="/images/influencer.png" alt="Influencer Image" width="20"> Share your thoughts. Shape your voice.</h2>
    <p>Your blog, your story.</p>
    <a class="addBlog" href="/add_blog">CREATE YOUR BLOG</a>
    </div>
  </div>
</body>
</html>
<%- include("./partials/footer.ejs")%>
